{% extends 'base.html.twig' %}

    {% block body %}
    <h1 style="text-align: center; margin-top: 300px; font-size: 36px">Ошибка</h1>
    <h1 style="text-align: center; margin-bottom: 300px; font-size: 36px">404</h1>
        {#<button><a href="{{ path('lazyblog_lazyblog_post_index') }}">return to the homepage</a></button>#}

    {% endblock %}

